<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="GalaxyHybridSuite" verbose="2" parallel="false">

    <test name="Phase1Tests">
        <classes>
            <class name="phase1Modules.TC_LoginTest"/>
            <class name="phase1Modules.TC_LeadCreation"/>
            <class name="phase1Modules.TC_DocumentAndTemplateTest"/>
        </classes>
    </test>

</suite>
